extends layout

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href="/") ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Lee Vaughn
        p.lead.text-light
          | Full-Stack JavaScript Developer, Problem Solver, Pizza Lover
        .portfolio-bio
          p
            | I am a Full-Stack JavaScript Developer looking for opportunities to use and grow my programming skills.
            | Before becoming a Developer, I spent over 20 years in hospitality management. My experience managing hotel
            | and casino operations has given me a wide array of soft skills like critical thinking, time management, and
            | team building. These skills and others make me more than just the code I write. They make me a well-rounded
            | person capable of contributing to the success of a team in a variety of ways. When I am not writing simple 
            | yet elegant code, I enjoy spending time at the beach with my lovely wife, cheering on the best NHL expansion
            | team ever (Go Golden Knights!), and of course, enjoying a delicious pepperoni pizza.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Node.js
          li React
          li jQuery
          li Express 
          li Bootstrap
          li MongoDB
          li SQL
          li GitHub
          li Pug
        h6 Contact Info
        ul
          li (702) 555-5555
          li dlvprogramming@gmail.com
        a.button.expanded(href="https://www.linkedin.com/in/lee-vaughn/", target="_blank") LinkedIn
        a.button.expanded(href="https://github.com/LeeVaughn", target="_blank") GitHub
        a.button.expanded(href="https://twitter.com/DLVProgramming", target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href="/") ← Back
  